* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,39,7,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div {
    text-align: center;
    justify-content: center;
    padding: 5px;
}
header {
    color: #ffffff;
    text-align: center;
}
section {
    color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 50vw;
    margin: auto;
    box-shadow: 5px 5px 15px #2b2a2a;
    height: 50vh;
}
footer {
    color: #ffffff;
    text-align: center;
    font-style: italic;
}
img {
    max-width: 50vw;
    height: 80vh;
}
label {
    font-size: 16px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(247,39,7,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #000;
}
input#submit {
    margin-left: 40%;
    margin-top: 5%;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    background: rgba(247,39,7,1);
    color: white;
    border: none;
    border-radius: 10px;
    width: 10vw;
    box-shadow: 1px 1px 1px #000;
}
input#submit:hover { 
    background:rgba(0,212,255,1);
}